<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" href="/images/site/favicon-32x32.png">

  <title><%- title %></title>

  <meta name="author" content="Nestor R. Otondo">
  <meta name="description" content="CSE Motor, concessionary vehicles">

  <link rel="stylesheet" href="/css/styles.css">
</head>