<header>
  <section>
    <div class="container account">
      <h1 class="logo">
        <a href="/">
          <img src="/images/site/icon.png" alt="CSE MOTORS"> CSE MOTORS
        </a>
      </h1>
      <div class="my-account">
        <h4>
          <% if (loggedin) { %> 
          <a href="/account"><%= accountData.account_firstname %></a> | <a href="/account/logout">Logout</a>
          <% } else { %>
          <a href="/account/login">Login</a> | <a href="/account/register">Register</a>
          <% } %>
        </h4>
      </div>
    </div>
  </section>
  <nav>
    <div class="hamburger-button">
      <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container">
      <div class="nav-bar" id="main-menu">
        <%- nav %>
      </div>
    </div>
  </nav>
</header>