<header>
  <section>
    <div class="container">
      <h1>CSE MOTORS</h1>
    </div>
  </section>
  <nav>
    <!--div class="hamburger-button">
      <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
    </div-->
    <div class="container">
      <div class="nav-bar" id="main-menu">
        <%- nav %>
      </div>
    </div>
  </nav>
</header>