<div class="hero">
  <h1>Welcome to CSE Motors!</h1>
  <div class="container">
    <div class="features">
      <div>
        <h3>DMC Delorean</h3>
        <p>3 cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <button>Own today</button>
      </div>
      <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
    </div>
  </div>
</div>