<div class="container">
  <h1><%= title %></h1>
  <hr>
  <div class="panel">
    <p><a href="last/<%= account_id %>">My last rentals</a></p>
    <table id="inventoryDisplay">
      <%- rentList %>
    </table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
  </div>
</div>